#working_hours {
  padding-top: 50px;
}

#invalid_date {
  padding-top: 50px;
}

#capacity {
  padding-top: 50px;
}

#conjun {
  padding-top: 50px;
}

#table_invalid {
  padding-top: 30px;
}

#table_capacity {
  text-align: center;
}

#capWarning {
  color: rgb(236, 146, 46);
}

#capVerified {
  color: rgb(32, 191, 32);
}
