<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>VIN info</title>
</head>
<body>

<div *ngIf="inspection" id="info">
  <h1><b>  </b>
  </h1>
  <div id="VinCard">
    <table [cellPadding]="10" class="fixed table table-striped table-responsive-md btn-table">
      <tr>
        <td><b>Značka:</b></td>
        <td>{{inspection.VIN}}</td>
      </tr>
      <tr>
        <td><b>Model:</b></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Kód motoru:</b></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Druh:</b></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Datum první registrace:</b></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Km:</b></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Výsledok STK:</b></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Výsledok Emise:</b></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>