<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Hotjar Tracking Code for https://stk-test.opendatalab.cz/ -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:2601961,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.opendatalab.cz/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

  <meta charset="UTF-8">
  <title>VIN info</title>
</head>
<body>

<div *ngIf="inspection" id="info">
  <h1><b>  </b>
  </h1>
  <div id="VinCard">
    <table [cellPadding]="10" class="fixed table table-striped table-responsive-md btn-table">
      <tr>
        <td><b>Značka:</b></td>
        <td>{{inspection.VIN}}</td>
      </tr>
      <tr>
        <td><b>Model:</b></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Kód motoru:</b></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Druh:</b></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Datum první registrace:</b></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Km:</b></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Výsledok STK:</b></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Výsledok Emise:</b></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>