#prices_chart {
  padding-top: 40px;
  width: 500px;
  float: left;
}

#prices_chart_ev {
  padding-top: 40px;
  overflow: hidden;
  padding-left: 50px;
}

#pie_chart_res {
  width: 400px;
  float: left;
}

#pie_chart_emission {
  overflow: hidden;
  padding-left: 50px;
}

#header {
  padding-bottom: 50px;
}

#column_chart {
  padding-top: 40px;
}

body {
  width: 1000px;
}
