<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Statistiky</title>
  
  <!-- Hotjar Tracking Code for https://stk-test.opendatalab.cz/ -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:2601961,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.opendatalab.cz/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

</head>
<body>
<h2 id="header">Celkové statistiky kontrol v roce 2018</h2>
<div *ngIf="results.length != 0" id="pie_chart_res">
  <h5>Výsledky prohlídek:</h5>
  <apx-chart
    [chart]="pieOptions.chart"
    [labels]="pieOptions.labels"
    [responsive]="pieOptions.responsive"
    [series]="pieOptions.series"
  ></apx-chart>
</div>
<div *ngIf="resultsEmission.length != 0" id="pie_chart_emission">
  <h5>Výsledky měření emisí:</h5>
  <apx-chart
    [chart]="pieOptionsEmission.chart"
    [labels]="pieOptionsEmission.labels"
    [responsive]="pieOptionsEmission.responsive"
    [series]="pieOptionsEmission.series"
  ></apx-chart>
</div>
<div id="column_chart">
  <h5>Počet kontrol podle měsíce:</h5>
  <apx-chart
    [chart]="columnOptions.chart"
    [dataLabels]="columnOptions.dataLabels"
    [fill]="columnOptions.fill"
    [plotOptions]="columnOptions.plotOptions"
    [series]="columnOptions.series"
    [xaxis]="columnOptions.xaxis"
    [yaxis]="columnOptions.yaxis"
  ></apx-chart>
</div>
<div *ngIf="stations.length != 0" id="prices_chart">
  <h5>Střendí cena pravidelné prohlídky podle kraje:</h5>
  <apx-chart
    [chart]="pricesOptions.chart"
    [dataLabels]="pricesOptions.dataLabels"
    [fill]="pricesOptions.fill"
    [plotOptions]="pricesOptions.plotOptions"
    [series]="pricesOptions.series"
    [xaxis]="pricesOptions.xaxis"
    [yaxis]="pricesOptions.yaxis"
  ></apx-chart>
</div>
<div *ngIf="stations.length != 0" id="prices_chart_ev">
  <h5>Střendí cena evidenční kontroly podle kraje:</h5>
  <apx-chart
    [chart]="pricesOptionsEv.chart"
    [dataLabels]="pricesOptionsEv.dataLabels"
    [fill]="pricesOptionsEv.fill"
    [plotOptions]="pricesOptionsEv.plotOptions"
    [series]="pricesOptionsEv.series"
    [xaxis]="pricesOptionsEv.xaxis"
    [yaxis]="pricesOptionsEv.yaxis"
  ></apx-chart>
</div>
<div *ngIf="stations.length != 0" id="region_chart">
  <h5>Výsledky kontrol podle kraje:</h5>
  <apx-chart
    [chart]="resultByRegionOptions.chart"
    [dataLabels]="resultByRegionOptions.dataLabels"
    [fill]="resultByRegionOptions.fill"
    [plotOptions]="resultByRegionOptions.plotOptions"
    [series]="resultByRegionOptions.series"
    [xaxis]="resultByRegionOptions.xaxis"
    [yaxis]="resultByRegionOptions.yaxis"
  ></apx-chart>
</div>
</body>
</html>
