<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Hotjar Tracking Code for https://stk-test.opendatalab.cz/ -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:2601961,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  
  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.opendatalab.cz/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

  <meta charset="UTF-8">
  <title>Stanice</title>
</head>
<body>
<div *ngIf="station" id="info"  style="max-width:100%;height:auto;">
  <h1><b>{{station.operator}}</b>
  </h1>
  <div id="card">
    <table [cellPadding]="10" class="fixed table table-striped table-responsive-md btn-table">
      <tr>
        <td><b>ID</b></td>
        <td>{{station.stationId.toString().length == 3 ? station.stationId * 10 : station.stationId}}</td>
      </tr>
      <tr>
        <td><b>Město</b></td>
        <td>{{station.city}}</td>
      </tr>
      <tr>
        <td><b>Adresa</b></td>
        <td>{{station.street + " PSČ: " + station.postalCode}}</td>
      </tr>
      <tr>
        <td><b>Telefonní číslo</b></td>
        <td>{{station.telephoneNumber}}</td>
      </tr>
      <tr>
        <td><b>E-mail</b></td>
        <td><a href="mailto:{{station.email}}">{{station.email}}</a></td>
      </tr>
      <tr>
        <td><b>Rozsah oprávnění</b></td>
        <td>{{station.scopeOfApproval}}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="station.inspectionPrice" id="price">
    <table [cellPadding]="10" class="fixed table table-striped table-responsive-md btn-table">
      <tr>
        <td><b>Technická kontrola</b></td>
        <td><b>Evidenční kontrola</b></td>
        <td><b>Emise (benzín)</b></td>
        <td><b>Emise (nafta)</b></td>
      </tr>
      <tr>
        <td>{{station.inspectionPrice | zeroToDash}}</td>
        <td>{{station.evInspectionPrice | zeroToDash}} </td>
        <td>{{station.emissionPriceB | zeroToDash}} </td>
        <td>{{station.emissionPriceN | zeroToDash}} </td>
      </tr>
    </table>
  </div>

  <div *ngIf="station.workingHours != '0'" id="note">
    <h4 id="hours"><span class="material-icons">date_range</span> Provozní doba:</h4>
    <table [cellPadding]="10" class="fixed table table-striped table-responsive-md btn-table" id="workingHoursTable">
      <tr *ngFor="let day of workingHours" class="row-data">
        <td>{{day.key}}</td>
        <td>{{day.value}}</td>
      </tr>
    </table>
  </div>

  <div id="suspiciousTable">
    <h4 id="anomaly"><span class="material-icons">error_outline</span> Anomálie:</h4>
    <table [cellPadding]="10" class="fixed table table-striped table-responsive-md btn-table">
      <tr *ngIf="(station.workingHours != '0') && (inspections.length != 0)">
        <td>
          <b>Počet kontrol mimo provozní dobu:</b>
        </td>
        <td>{{outOfWorkingHours}}</td>
        <td>
          <span *ngIf="(outOfWorkingHours == 0)" class="material-icons" id="hoursVerified">verified</span>
          <span *ngIf="((outOfWorkingHours > 0) && (outOfWorkingHours <= 100))" class="material-icons"
                id="hoursWarning">warning</span>
          <span *ngIf="(outOfWorkingHours > 100)" class="material-icons" id="hoursError">error</span>
        </td>
      </tr>
      <tr *ngIf="inspections.length != 0">
        <td>
          <b>Počet chybně zadaných kontrol:</b>
        </td>
        <td>{{invalidDates}}</td>
        <td>
          <span *ngIf="(invalidDates == 0)" class="material-icons" id="datesVerified">verified</span>
          <span *ngIf="((invalidDates > 0) && (invalidDates <= 15))" class="material-icons"
                id="datesWarning">warning</span>
          <span *ngIf="(invalidDates > 15)" class="material-icons" id="datesError">error</span>
        </td>
      </tr>
      <tr *ngIf="inspections.length != 0">
        <td>
          <b>Počet dnů s anomálně vysokým počtem kontrol:</b>
        </td>
        <td>{{suspiciousDays.length}}</td>
        <td>
          <span *ngIf="(suspiciousDays.length == 0)" class="material-icons" id="densVerified">verified</span>
          <span *ngIf="((suspiciousDays.length > 0) && (suspiciousDays.length <= 15))" class="material-icons"
                id="densWarning">warning</span>
          <span *ngIf="(suspiciousDays.length > 15)" class="material-icons" id="densError">error</span>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="popularBrands.length != 0" id="pie_chart_brand">
    <h5>Nejčastější značky automobilů:</h5>
    <apx-chart
      [chart]="brandOptions.chart"
      [dataLabels]="brandOptions.dataLabels"
      [labels]="brandOptions.labels"
      [responsive]="brandOptions.responsive"
      [series]="brandOptions.series"
    ></apx-chart>
  </div>

</div>

<div *ngIf="inspections.length != 0" id="stat">
  <h2>Statistiky kontrol v roce 2018</h2>
  <p id="total">Celkem kontrol: <b>{{inspections.length}}</b></p>
  <div id="pie_chart">
    <h5>Výsledky prohlídek:</h5>
    <apx-chart
      [chart]="pieOptions.chart"
      [labels]="pieOptions.labels"
      [responsive]="pieOptions.responsive"
      [series]="pieOptions.series"
    ></apx-chart>
  </div>
  <div id="column_chart">
    <h5 class="table_header">Počet kontrol podle měsíce:</h5>
    <apx-chart
      [chart]="monthOptions.chart"
      [dataLabels]="monthOptions.dataLabels"
      [fill]="monthOptions.fill"
      [plotOptions]="monthOptions.plotOptions"
      [series]="monthOptions.series"
      [xaxis]="monthOptions.xaxis"
      [yaxis]="monthOptions.yaxis"
    ></apx-chart>
  </div>
  <div id="bar_chart"  style="max-width:100%;height:auto;">
    <h5 class="table_header">Počet kontrol podle dne v týdnu:</h5>
    <apx-chart
      [chart]="dayOptions.chart"
      [dataLabels]="dayOptions.dataLabels"
      [fill]="dayOptions.fill"
      [plotOptions]="dayOptions.plotOptions"
      [series]="dayOptions.series"
      [xaxis]="dayOptions.xaxis"
      [yaxis]="dayOptions.yaxis"
    ></apx-chart>
  </div>

  <div id="bar_chart_hour"  style="max-width:100%;height:auto;">
    <h5 class="table_header">Počet kontrol podle času:</h5>
    <apx-chart
      [chart]="hourOptions.chart"
      [dataLabels]="hourOptions.dataLabels"
      [fill]="hourOptions.fill"
      [plotOptions]="hourOptions.plotOptions"
      [series]="hourOptions.series"
      [xaxis]="hourOptions.xaxis"
      [yaxis]="hourOptions.yaxis"
    ></apx-chart>
  </div>
</div>
</body>
</html>
