#info {
  width: 500px;
  float: left;
  max-width: 100%;
  height: auto;
}

#stat {
  overflow: hidden;
  padding-left: 50px;
  max-width: 100%;
  height: auto;
}

#card {
  padding-top: 20px;
  max-width: 100%;
  height: auto;
}

#total {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 100%;
  height: auto;
}

#column_chart {
  padding-top: 80px;
  max-width: 100%;
  height: auto;
}

#bar_chart {
  padding-top: 80px;
  max-width: 100%;
  height: auto;
}

#price {
  padding-top: 80px;
  max-width: 100%;
  height: auto;
}

#note {
  padding-top: 80px;
  width: 200px;
  max-width: 100%;
  height: auto;
}

#hours {
  padding-left: 10px;
  padding-bottom: 30px;
  max-width: 100%;
  height: auto;
}

#suspiciousTable {
  padding-top: 80px;
  max-width: 100%;
  height: auto;
}

#pie_chart_brand {
  padding-top: 80px;
  max-width: 100%;
  height: auto;
}

#hoursVerified {
  color: rgb(32, 191, 32);
}

#datesVerified {
  color: rgb(32, 191, 32);
}

#densVerified {
  color: rgb(32, 191, 32);
}

#hoursWarning {
  color: rgb(236, 146, 46);
}

#datesWarning {
  color: rgb(236, 146, 46);
}

#densWarning {
  color: rgb(236, 146, 46);
}

#hoursError {
  color: rgb(144, 10, 10);
}

#datesError {
  color: rgb(144, 10, 10);
}

#densError {
  color: rgb(144, 10, 10);
}

#anomaly {
  padding-bottom: 30px;
  max-width: 100%;
  height: auto;
}

.table_header {
  padding-left: 35px;
  max-width: 100%;
  height: auto;
}
