#info {
  width: 500px;
  float: left;
}

#stat {
  overflow: hidden;
  padding-left: 50px;
}

#card {
  padding-top: 20px;
}

#total {
  padding-top: 20px;
  padding-bottom: 20px;
}

#column_chart {
  padding-top: 80px;
}

#bar_chart {
  padding-top: 80px;
}

#price {
  padding-top: 80px;
}

#note {
  padding: 80px;
}
