#content {
  margin-top: 110px;
}

#footer_text {
  position: auto;
  width: 100%;
  text-align: center;
  position: absolute;
}

#footer {
  position: auto;
  left: 0;
  bottom: 0;
  width: 90%;
  background-color: white;
  color: white;
  text-align: center;
}