<app-header></app-header>

<div class="container" id="content">
  <router-outlet></router-outlet>
</div>

<br>

<div class="col-lg-auto text-center mt-3 mt-lg-0">
  <a href="https://fit.cvut.cz/" target="_blank"><img
          src="assets/FIT_logo.png"></a>
  &nbsp;
  <a href="https://profinit.eu/" target="_blank"><img
          src="assets/PROFINIT_logo.png"></a>
</div>

<br>

<footer>
<p id="footer_text">Portál byl vypracován v rámci <a href="https://dspace.cvut.cz/handle/10467/88156">bakalářské práce</a> na <a href="https://fit.cvut.cz/cs">Fakultě informačních technologií ČVUT</a>
    ve spolupráci s <a href="https://opendatalab.cz/">OpenDataLabem</a> © 2021 <br>
    Provozovatel neodpovídá za správnost a úplnost zpracovaných dat a informací, ani tato neověřuje a zříká se zodpovědnosti za veškeré škody a újmy, které by použitím těchto dat mohly vzniknout. </p>  
</footer>
