<div class="container">

  <h1 class="my-4">O portálu</h1>
  <p class="my-4">Portál výsledků analýzy <a
    href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2Fhttps---un7pp4qfr5.execute-api.eu-west-1.amazonaws.com-prod-package_show-id-stk_md_2018">dat</a>
    a dalších informací o stanicích technické kontroly.</p>
  <br>
  <p>TODO: popis portalu</p>
  <div id="section1">
    <h3>Sekce <a [routerLink]="'/stations'">Stanice</a></h3>
    <p>TODO: popis sekce</p>
  </div>

  <div id="section2">
    <h3>Sekce <a [routerLink]="'/statistics'">Statistiky</a></h3>
    <p>TODO: popis sekce</p>
  </div>

  <div id="section3">
    <h3>Sekce <a [routerLink]="'/suspicious'">Podezřelé chování</a></h3>
    <p>TODO: popis sekce</p>
  </div>

</div>
