#section1 {
  padding-top: 50px;
  width: 700px;
}

#section2 {
  padding-top: 50px;
  width: 700px;
}

#section3 {
  padding-top: 50px;
  width: 700px;
}

#uvod {
  width: 900px;
}

#info {
  width: 600px;
  float: left;
}

#xml {
  width: 400px;
}

#stk_icon {
  overflow: hidden;
  padding-left: 50px;
}
