#section1 {
  padding-top: 50px;
  width: 700px;
  max-width: 100%;
  height: auto;
}

#section2 {
  padding-top: 50px;
  width: 700px;
  max-width: 100%;
  height: auto;
}

#section3 {
  padding-top: 50px;
  width: 700px;
  max-width: 100%;
  height: auto;
}

#section4 {
  padding-top: 50px;
  width: 700px;
  max-width: 100%;
  height: auto;
}


#uvod {
  width: 900px;
  max-width: 100%;
  height: auto;
  //font-size:10vw
}

#info {
  width: 600px;
  float: left;
  max-width: 100%;
  height: auto;
}

#xml {
  width: 400px;
}

#stk_icon {
  overflow: hidden;
  //padding-left: 50px;
}
