<head>
  <!-- Hotjar Tracking Code for https://stk-test.opendatalab.cz/ -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:2601961,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//matomo.opendatalab.cz/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

</head>
<div class="container">

  <h1 class="my-4">O portálu</h1>
  <p class="my-4" id="uvod">Portál obsahuje výsledky analýzy <a
    href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2Fhttps---un7pp4qfr5.execute-api.eu-west-1.amazonaws.com-prod-package_show-id-stk_md_2018">dat</a>
    a další informace o stanicích technické kontroly a byl vypracován v rámci bakalářské práce na Fakultě informačních
    technologií ČVUT v roce 2020.
    Účelem tohoto portálu je nejen popisovat stanice a statistiky kontrol, ale i upozorňovat na
    podezřelé chování na stanicích.</p>
  <br>
  <div id="info">
    <p><a
      href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2Fhttps---un7pp4qfr5.execute-api.eu-west-1.amazonaws.com-prod-package_show-id-stk_md_2018">Dataset</a>,
      který je středem pozornosti tohoto portálu, je úplný seznam jednotlivých kontrol
      na stanicích technické kontroly v roce 2018.
      Je evidován v národním katalogu otevřených dat a byl získán od ministerstva dopravy
      podle zákona o svobodném přístupu k informacím č. 106/1999 Sb.
    <p>

    <p>Datová sada je ke stažení ve formátu XML a obsahuje 3 728 369 záznamů o jednotlivých prohlídkách
      na stanicích technické kontroly v celé České republice a zahrnuje jak údaje o výsledcích kontroly,
      tak i údaje o vozidle samotném:</p>
  </div>
  <img alt="stk_icon" id="stk_icon" src="assets/stk-sme.png" style="max-width:100%;height:auto;">
  <img alt="xml" id="xml" src="assets/xml.png" style="max-width:100%;height:auto;">
  <div id="section1">
    <h3>Sekce <a [routerLink]="'/stations'"><i>Stanice</i></a></h3>
    <p>Tato sekce obsahuje seznam stanic technické kontroly, ve kterém se lze vyhledávat pomocí zadání dotazu do
      políčka "Hledat". Stanice jsou seřazené podle ceny kontroly. Kliknutím na ID jednotlivé stanice budete
      přesměrováni na stránku věnovanou příslušné stanice. Na ní uvidíte podrobnější informace o stanice a
      statistiky kontrol v roce 2018.</p>
  </div>

  <div id="section2">
    <h3>Sekce <a [routerLink]="'/vinInfo'"><i>VIN info</i></a></h3>
    <p>V této sekci můžete pomocí zadání VIN čísla do políčka "Zadej VIN číslo" vyhledat
      informace o daném vozidle. Zobrazí se Vám základní informace o vozidle, jako jsou
      například značka, model a kód motoru. O kontrole se dozvíte její typ, kdy byla provedena a
      její výsledek. Upozorňujeme, že zobrazované údaje se týkají od roku 2018.</p>
  </div>

  <div id="section3">
    <h3>Sekce <a [routerLink]="'/statistics'"><i>Statistiky</i></a></h3>
    <p>Tato sekce obsahuje grafy, znázorňující hromadné statistiky kontrol na stanicích
      technické kontroly v roce 2018.</p>
  </div>

  <div id="section4">
    <h3>Sekce <a [routerLink]="'/suspicious'"><i>Anomálie</i></a></h3>
    <p>Tato sekce obsahuje grafy a další informace o příznaky podezřelého chování na stanicích technické kontroly,
      které byly odhalené v rámci analýzy datasetu STK2018.</p>
  </div>

</div>
