<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a [routerLink]="'/'" class="navbar-brand">
      <img alt="stk-icon" height="40" src="assets/stk-icon.png">
    </a>
    <button 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        class="navbar-toggler navbar-toggler-right" 
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        type="button"
        (click)="collapsed = !this.collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{ collapse: collapsed, 'navbar-collapse': true }" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="'/about'" class="nav-link mb-0 h5" routerLinkActive="active">O portálu</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/stations'" class="nav-link mb-0 h5" routerLinkActive="active">Stanice</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/vinInfo'" class="nav-link mb-0 h5" routerLinkActive="active">VIN info</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/statistics'" class="nav-link mb-0 h5" routerLinkActive="active">Statistiky</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="'/suspicious'" class="nav-link mb-0 h5" routerLinkActive="active">Anomálie</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

