table.fixed {
  table-layout: fixed;
}

table.fixed td {
  overflow: hidden;
}

#info {
  width: 600px;
  float: left;
}

#xml {
  width: 400px;
}

#stk_icon {
  overflow: hidden;
  padding-left: 50px;
}
