<head>
  <!-- Hotjar Tracking Code for https://stk-test.opendatalab.cz/ -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:2601961,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <script>
    function initFingerprintJS() {
      FingerprintJS.load({token: 'LMnVi3CumTQ2ughZXslx', region: 'eu'})
        .then(fp => fp.get())
        .then(result => console.log(result.visitorId));
    }
  </script>
  <script
    async
    src="https://cdn.jsdelivr.net/npm/@fingerprintjs/fingerprintjs-pro@3/dist/fp.min.js"
    onload="initFingerprintJS()"
  ></script>
</head>

<div class="container">

  <h1 class="my-4">STK portál</h1>
  <p class="my-4">Vítejte v portálu výsledků analýzy <a
    href="https://data.gov.cz/datov%C3%A1-sada?iri=https%3A%2F%2Fdata.gov.cz%2Fzdroj%2Fdatov%C3%A9-sady%2Fhttps---un7pp4qfr5.execute-api.eu-west-1.amazonaws.com-prod-package_show-id-stk_md_2018">dat</a>
    a dalších informací o stanicích technické kontroly!</p>
  <br>
  <img alt="stk_icon" id="stk_icon" src="assets/map.png">
</div>
